@model Proyecto_Sadas.Models.Solicitud
@{
    ViewData["Title"] = "Registrar";
}

<h1>Registrar</h1>

<h4>Solicitud</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Registrar">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <h4>Información de la solicitud</h4>
            <div class="form-group">
                <label asp-for="id_solicitud" class="control-label">Código de solicitud </label>
                <input type="text" name="inputname" disabled>
            </div>
            <div class="form-group">
                <label asp-for="fecha_realiza" class="control-label">Fecha de la solicitud: </label>
                <input type="date" asp-for="fecha_realiza" class="form-control" />
                <span asp-validation-for="fecha_realiza" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="fecha_recibe" class="control-label">Fecha que se recibe la solicitud: </label>
                <input type="date" asp-for="fecha_recibe" class="form-control" />
                <span asp-validation-for="fecha_recibe" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="metodo_envio" class="control-label">Método de envío</label>
                <select asp-for="metodo_envio" class="form-select" id="metodo_envio">
                    <option selected="selected" disabled="true">Por favor, seleccione una opción</option>
                    <option>Documento Físico</option>
                    <option>Fax</option>
                    <option>Correo eléctronico</option>
                </select>
                <span asp-validation-for="metodo_envio" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="sede_recibe" class="control-label">Sede donde se recibió la solicitud</label>
                <select asp-for="sede_recibe" class="form-select" id="sede_recibe">
                    <option selected="selected" disabled="true">Por favor, seleccione una opción</option>
                    <option>Limón</option>
                    <option>San Carlos</option>
                    <option>Coto</option>
                    <option>Central-Cenarec</option>
                    <option>Liberia</option>
                </select>
                <span asp-validation-for="sede_recibe" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="nombre_persona_recibe" class="control-label">Nombre de la persona que recibe la solicitud</label>
                <input asp-for="nombre_persona_recibe" class="form-control" />
                <span asp-validation-for="nombre_persona_recibe" class="text-danger"></span>
            </div>

            <br />

            <h4>Información del estudiante que requiere la asesoría</h4>
            <div class="form-group">
                <label class="control-label">Tipo de identificación</label>
                <select class="form-select" id="tipo_cedula_estudiante" name="tipo_cedula_estudiante">
                    <option selected="selected" disabled="true">Por favor, seleccione una opción</option>
                    <option>Cédula Nacional</option>
                    <option>Cédula de Residencia</option>
                    <option>Carnet de Refugiado</option>
                    <option>Pasaporte</option>
                    <option>Indocumentado</option>
                </select>
                <span class="text-danger"></span>
            </div>
            <div class="form-group">
                <label>Identificación del estudiante</label>
                <input type="text" class="form-control" id="numero_cedula_estudiante" name="numero_cedula"/>
            </div>
            <div class="form-group">
                <label>Nombre del estudiante</label>
                <input type="text" class="form-control" id="nombre_estudiante" />
            </div>
            <div class="form-group">
                <label>Primer apellido del estudiante</label>
                <input type="text" class="form-control" id="apellido_1_estudiante"/>
            </div>
            <div class="form-group">
                <label>Segundo apellido del estudiante</label>
                <input type="text" class="form-control" id="apellido_2_estudiante"/>
            </div>
            <div class="form-group">
                <label class="control-label">Fecha de nacimiento: </label>
                <input type="date" class="form-control" id="fecha_nacimiento_estudiante"/>
                <span class="text-danger"></span>
            </div>
            <div>
                <label class="control-label">Edad</label>
                <input type="text" name="inputname" value="edad" disabled>
            </div>
            <div class="form-group">
                <label class="form-label mt-4">Teléfono #1 del estudiante</label>
                <input type="tel" class="form-control" id="telefono_1_estudiante"/>
            </div>
            <div class="form-group">
                <label class="form-label mt-4">Teléfono #2 del estudiante</label>
                <input type="tel" class="form-control" id="telefono_2_estudiante"/>
            </div>
            <div class="form-group">
                <label class="form-label mt-4">Correo eléctronico del estudiante</label>
                <input type="email" class="form-control" id="correo_1_estudiante"/>
            </div>
            <div class="form-group">
                <label class="form-label mt-4">Correo eléctronico del estudiante</label>
                <input type="email" class="form-control" id="correo_2_estudiante"/>
            </div>
            <div>
                <div>
                    <label for="">Provincias</label>
                    <select id="slt-provincias">
                        <option value="">-- Seleccione una provincia --</option>
                    </select>
                </div>
                <div>
                    <label for="">Cantones</label>
                    <select id="slt-cantones">
                        <option value="">-- Seleccione un cantón --</option>
                </select>
                </div>
                <div>
                    <label for="">Distritos</label>
                    <select id="slt-distritos">
                        <option value="">-- Seleccione un distrito --</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label class="form-label mt-4">Lugar de residencia</label>
                <input type="text" class="form-control" name="ubicacion_exacta_estudiante" />
            </div>
            <div class="form-group">
                <label class="form-label mt-4">Descripción de la condición de la persona estudiante</label>
                <textarea class="form-control" id="descripcion_condicion" name="observaciones_estudiante" rows="4"></textarea>
            </div>
            
            <div class="form-group">
                <label class="control-label">Tipo de identificación</label>
                
                <select class="form-select" id="tipo_cedula" name="numero_cedula_madre">
                    <option selected="selected" disabled="true">Por favor, seleccione una opción</option>
                    <option>Cédula Nacional</option>
                    <option>Cédula de Residencia</option>
                    <option>Carnet de Refugiado</option>
                    <option>Pasaporte</option>
                    <option>Indocumentado</option>
                </select>
                <span class="text-danger"></span>
            </div>
            <div class="form-group">
                <label>Identificación de la madre</label>
                <input type="text" class="form-control" name="tipo_cedula_madre" />
            </div>
            <div class="form-group">
                <label>Nombre de la madre</label>
                <input type="text" class="form-control" name="nombre_madre"/>
            </div>
            <div class="form-group">
                <label>Primer apellido de la madre</label>
                <input type="text" class="form-control" name="apellido_1_madre"/>
            </div>
            <div class="form-group">
                <label>Segundo apellido de la madre</label>
                <input type="text" class="form-control" name="apellido_2_madre"/>
            </div>
            <div class="form-group">
                <label class="form-label mt-4">Teléfono #1</label>
                <input type="tel" class="form-control" name="telefono_1_madre"/>
            </div>
            <div class="form-group">
                <label class="form-label mt-4">Teléfono #2</label>
                <input type="tel" class="form-control" name="telefono_2_madre"/>
            </div>
            <div class="form-group">
                <label class="form-label mt-4">Correo eléctronico # 1</label>
                <input type="email" class="form-control" name="correo_1_madre"/>
            </div>
            <div class="form-group">
                <label class="form-label mt-4">Correo eléctronico # 2</label>
                <input type="email" class="form-control" name="correo_2_madre"/>
            </div>
            
          
            <div class="form-group">
                <label class="control-label">Tipo de identificación</label>
                <input class="form-control" />
                <select class="form-select" id="tipo_cedula" name="tipo_cedula_padre">
                    <option selected="selected" disabled="true">Por favor, seleccione una opción</option>
                    <option>Cédula Nacional</option>
                    <option>Cédula de Residencia</option>
                    <option>Carnet de Refugiado</option>
                    <option>Pasaporte</option>
                    <option>Indocumentado</option>
                </select>
                <span class="text-danger"></span>
            </div> 
            <div class="form-group">
                <label>Identificación del padre</label>
                <input type="text" class="form-control" name="numero_cedula_padre"/>
            </div>
            <div class="form-group">
                <label>Nombre del padre</label>
                <input type="text" class="form-control" name="nombre_padre"/>
            </div>
            
            <div class="form-group">
                <label>Primer apellido del padre</label>
                <input type="text" class="form-control" name="apellido_1_padre"/>
            </div>
            <div class="form-group">
                <label>Segundo apellido del padre</label>
                <input type="text" class="form-control" name="apellido_2_padre"/>
            </div>
             <div class="form-group">
                <label class="form-label mt-4">Teléfono #1</label>
                <input type="tel" class="form-control" name="telefono_1_padre"/>
            </div>
            <div class="form-group">
                <label class="form-label mt-4">Teléfono #2</label>
                <input type="tel" class="form-control" name="telefono_2_padre"/>
            </div>
            <div class="form-group">
                <label class="form-label mt-4">Correo eléctronico</label>
                <input type="email" class="form-control" name="correo_1_padre"/>
            </div>
            <div class="form-group">
                <label class="form-label mt-4">Correo eléctronico</label>
                <input type="email" class="form-control" name="correo_2_padre"/>
            </div>

            <div class="form-group">
                <label class="control-label">Tipo de identificación</label>
                
                <select class="form-select" id="tipo_cedula" name="tipo_cedula_encargado">
                    <option selected="selected" disabled="true">Por favor, seleccione una opción</option>
                    <option>Cédula Nacional</option>
                    <option>Cédula de Residencia</option>
                    <option>Carnet de Refugiado</option>
                    <option>Pasaporte</option>
                    <option>Indocumentado</option>
                </select>
                <span class="text-danger"></span>
            </div>
            <div class="form-group">
                <label>Identificación del encargado</label>
                <input type="text" class="form-control" name="numero_cedula_encargado" />
            </div>
            <div class="form-group">
                <label>Nombre del encargado</label>
                <input type="text" class="form-control" name="nombre_encargado"/>
            </div>
            <div class="form-group">
                <label>Primer apellido del encargado</label>
                <input type="text" class="form-control" name="apellido_1_encargado"/>
            </div>
            <div class="form-group">
                <label>Segundo apellido del encargado</label>
                <input type="text" class="form-control" name="apellido_2_encargado"/>
            </div>
            <div class="form-group">
                <label>Parentesco</label>
                <input type="text" class="form-control" name="parentesco"/>
            </div>
            <div class="form-group">
                <label class="form-label mt-4">Teléfono #1</label>
                <input type="tel" class="form-control" name="telefono_1_encargado"/>
            </div>
            <div class="form-group">
                <label class="form-label mt-4">Teléfono #2</label>
                <input type="tel" class="form-control" name="telefono_2_encargado"/>
            </div>
            <div class="form-group">
                <label class="form-label mt-4">Correo eléctronico</label>
                <input type="email" class="form-control" name="correo_1_encargado"/>
            </div>
            <div class="form-group">
                <label class="form-label mt-4">Correo eléctronico</label>
                <input type="email" class="form-control" name="correo_2_encargado"/>
            </div>

            <h4>Información del centro educativo que asiste la persona estudiante</h4>
            <div class="form-group">
                <label>Nivel educativo que cursa</label>
                <input type="text" class="form-control" name="nivel_educativo_estudiante"/>
            </div>
            <div class="form-group">
                <label>Nombre del centro educativo</label>
                @Html.TextBoxFor(model => model.centro_Educativo.nombre, new { @class = "form-control" })
            </div>
            <div class="form-group">
                <label class="form-label mt-4">Teléfono #1</label>
                @Html.TextBoxFor(model => model.centro_Educativo.telefono_1, new { @class = "form-control" })
            </div>
            <div class="form-group">
                <label class="form-label mt-4">Teléfono #2</label>
                @Html.TextBoxFor(model => model.centro_Educativo.telefono_2, new { @class = "form-control" })
            </div>
            <div class="form-group">
                <label class="form-label mt-4">Correo eléctronico # 1</label>
                <input asp-for=centro_Educativo.correo_1 type="email" class="form-control" name="correo_2_encargado"/>
            </div>
            <div class="form-group">
                <label class="form-label mt-4">Correo eléctronico # 2</label>
                <input asp-for=centro_Educativo.correo_2 type="email" class="form-control" name="correo_2_encargado"/>
            </div>
            <div class="form-group">
                <label>Ubicación del centro educativo</label>
                <label>Provincia</label>
                <input type="text" asp-for="centro_Educativo.provincia" class="form-control" name="provincia_centro_educativo"/>
                <label>Cantón</label>
                <input type="text" asp-for="centro_Educativo.canton" class="form-control" name="canton_centro_educativo"/>
                <label>Distrito</label>
                <input type="text" asp-for="centro_Educativo.distrito" class="form-control" name="distrito_centro_educativo"/>
            </div>
            <div class="form-group">
                <label class="form-label mt-4">Ubicación exacta del centro educativo</label>
                <textarea class="form-control" asp-for="centro_Educativo.ubicacion_exacta" id="ubicacion_exacta" rows="4" name="ubicacion_exacta"></textarea>
            </div>
            <div class="form-group">
                <label>Dependencia</label>
                <input type="text" class="form-control" asp-for="centro_Educativo.dependencia" name="dependencia"/>
            </div>
            <div class="form-group">
                <label>Región Educativa</label>
                <input type="text" class="form-control" asp-for="centro_Educativo.region_educativa" name="region_educativo"/>
            </div>
            <div class="form-group">
                <label>Circuito</label>
                <input type="text" class="form-control" asp-for="centro_Educativo.circuito" name="circuito"/>
            </div>
            <div class="form-group">
                <label>Nombre completo de la persona a cargo de la Dirección</label>
                <input type="text" class="form-control" asp-for="centro_Educativo.encargado" name="encargado_centro_educativo"/>
            </div>

            <h4>Información del docente a cargo</h4>
            <div class="form-group">
                <label class="control-label">Tipo de identificación</label>                
                <select class="form-select" id="tipo_cedula" name="tipo_cedula_docente">
                    <option selected="selected" disabled="true">Por favor, seleccione una opción</option>
                    <option>Cédula Nacional</option>
                    <option>Cédula de Residencia</option>
                    <option>Carnet de Refugiado</option>
                    <option>Pasaporte</option>
                    <option>Indocumentado</option>
                </select>
                <span class="text-danger"></span>
            </div>
            <div class="form-group">
                <label>Identificación del docente a cargo</label>
                <input type="text" class="form-control" name="numero_cedula_docente"/>
            </div>
            <div class="form-group">
                <label>Nombre del docente a cargo</label>
                <input type="text" class="form-control" name="nombre_docente" />
            </div>
            
            <div class="form-group">
                <label>Primer apellido del docente a cargo</label>
                <input type="text" class="form-control" name="apellido1_docente" />
            </div>
            <div class="form-group">
                <label>Segundo apellido del docente a cargo</label>
                <input type="text" class="form-control" name="apellido2_docente" />
            </div>
            <div class="form-group">
                <label class="form-label mt-4">Teléfono #1</label>
                <input type="tel" class="form-control" name="telefono_1_docente">
            </div>
            <div class="form-group">
                <label class="form-label mt-4">Teléfono #2</label>
                <input type="tel" class="form-control" name="telefono_2_docente">
            </div>
            <div class="form-group">
                <label class="form-label mt-4">Correo eléctronico</label>
                <input type="email" class="form-control" name="correo_1_docente"/>
            </div>
            <div class="form-group">
                <label class="form-label mt-4">Correo eléctronico</label>
                <input type="email" class="form-control" name="correo_2_docente"/>
            </div>
            
            <h4>Información de la persona solicitante</h4>
            <div class="form-group">
                <label class="control-label">Tipo de identificación</label>
                
                <select class="form-select" id="tipo_cedula" name="tipo_cedula_solicitante">
                    <option selected="selected" disabled="true">Por favor, seleccione una opción</option>
                    <option>Cédula Nacional</option>
                    <option>Cédula de Residencia</option>
                    <option>Carnet de Refugiado</option>
                    <option>Pasaporte</option>
                    <option>Indocumentado</option>
                </select>
                <span class="text-danger"></span>
            </div>
            <div class="form-group">
                <label>Identificación de la persona solicitante</label>
                <input type="text" class="form-control" name="numero_cedula_solicitante"/>
            </div>
            <div class="form-group">
                <label>Nombre del solicitante</label>
                <input type="text" class="form-control" name="nombre_solicitante"/>
            </div>
            <div class="form-group">
                <label>Primer apellido del solicitante</label>
                <input type="text" class="form-control" name="apellido_1_solicitante"/>
            </div>
            <div class="form-group">
                <label>Segundo apellido del solicitante</label>
                <input type="text" class="form-control" name="apellido_2_solicitante"/>
            </div>
            <div class="form-group">
                <label class="form-label mt-4">Teléfono #1</label>
                <input type="tel" class="form-control" name="telefono_1_solicitante">
            </div>
            <div class="form-group">
                <label class="form-label mt-4">Teléfono #2</label>
                <input type="tel" class="form-control" name="telefono_2_solicitante">
            </div>
            <div class="form-group">
                <label class="form-label mt-4">Correo eléctronico</label>
                <input type="email" class="form-control" name="correo_1_solicitante"/>
            </div>
            <div class="form-group">
                <label class="form-label mt-4">Correo eléctronico</label>
                <input type="email" class="form-control" name="correo_2_solicitante"/>
            </div>
            <div class="form-group">
                <label for="puesto_desenpena" class="form-label mt-4">Puesto que desenpeña</label>
                <select class="form-select" id="puesto_desenpena" name="puesto_desenpena">
                    <option selected="selected" disabled="true">Por favor, seleccione una opción</option>
                    <option>Docente Regular</option>
                    <option>Padre o Madre Familia</option>
                    <option>Comité Apoyo</option>
                    <option>Docente Apoyo</option>
                    <option>Equipo Regional Itinerante</option>
                    <option>Docente Educacíón Especial</option>
                    <option>Estudiante</option>
                    <option>Otro</option>
                </select>
            </div>
            <h4>Información de la solicitud de asesoría</h4>
            <div class="form-group">
                <label class="form-label mt-4">Motivo de la solicitud</label>
                <textarea class="form-control" id="motivo" rows="4"></textarea>
            </div>
            <div class="form-group">
                <label asp-for="apoyo_organizativo" class="control-label">Apoyo Organizativo</label>
                <input asp-for="apoyo_organizativo" class="form-control" />
                <span asp-validation-for="apoyo_organizativo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="producto_apoyo_organizativo" class="control-label">Producto de apoyo empleados</label>
                <input asp-for="producto_apoyo_organizativo" class="form-control" />
                <span asp-for="producto_apoyo_organizativo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="servicio_apoyo_empleados" class="control-label">Servicio de apoyo empleados</label>
                <input asp-for="servicio_apoyo_empleados" class="form-control" />
                <span asp-validation-for="servicio_apoyo_empleados" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="servicio_apoyo_recibe" class="control-label">Servicio de apoyo que recibe</label>
                <input asp-for="servicio_apoyo_recibe" class="form-control" />
                <span asp-validation-for="servicio_apoyo_recibe" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="servicio_apoyo_recibe_region_educativa" class="control-label">Servicio apoyo recibe region educativa</label>
                <input asp-for="servicio_apoyo_recibe_region_educativa" class="form-control" />
                <span asp-validation-for="servicio_apoyo_recibe_region_educativa" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="apoyo_educativo_requerido" class="control-label">Apoyo requerido</label>
                <input asp-for="apoyo_educativo_requerido" class="form-control" />
                <span asp-validation-for="apoyo_educativo_requerido" class="text-danger"></span>
            </div>
            
            <h4>Observaciones</h4>
            <div>
                @Html.Label("","¿Tuvo asesoría del Cenarec anteriormente?",new { @class = "control-label" })
                <br />
                @Html.Label("Sí:")
                @Html.RadioButtonFor(h => h.historial.asesoria_previa, 1, new {@id="flexRadioDefault1", @class = "form-check-input", @checked = "checked"})
                
                @Html.Label("No:")
                @Html.RadioButtonFor(h => h.historial.asesoria_previa, 0, new {@id="flexRadioDefault1", @class = "form-check-input"}) 
            </div>
            <div class="form-group">
                <label class="control-label">Sede en donde recibió asesoría anteriormente</label>
                
                <select asp-for=historial.sede_asesoria_previa class="form-select" id="tipo_cedula">
                    <option selected="selected" disabled="true">Por favor, seleccione una opción</option>
                    <option>Limón</option>
                    <option>San Carlos</option>
                    <option>Coto</option>
                    <option>Central-Cenarec</option>
                    <option>Liberia</option>
                </select>
                <span class="text-danger"></span>
            </div>
            <div>
                @Html.Label("","¿Adjunta certificación médica emitida por la Caja Costarricences del Seguro Social (CCSS)?",new { @class = "control-label" })
                <br />
                @Html.Label("Sí:")
                @Html.RadioButtonFor(h => h.historial.adjunta_certificacion_medica_CCSS,1, new {@id="flexRadioDefault1", @class = "form-check-input", @checked = "checked"})
                
                @Html.Label("No:")
                @Html.RadioButtonFor(h => h.historial.adjunta_certificacion_medica_CCSS,0, new {@id="flexRadioDefault1", @class = "form-check-input"}) 
            </div>
            <div>
                @Html.Label("","¿Adjunta certificación de discapacidad emitida por el Consejo Nacional de Personas con Discapacidad (CONAPDIS)?",new { @class = "control-label" })
                <br />
                @Html.Label("Sí:")
                @Html.RadioButtonFor(h => h.historial.adjunta_certificacion_medica_CONAPDIS,1, new {@id="flexRadioDefault1", @class = "form-check-input", @checked = "checked"})
                
                @Html.Label("No:")
                @Html.RadioButtonFor(h => h.historial.adjunta_certificacion_medica_CONAPDIS,0, new {@id="flexRadioDefault1", @class = "form-check-input"}) 
            </div>
            <div>
                @Html.Label("","¿Ha realizado alguna solicitud previa para obtener productos de apoyo con algún presupuesto de Gobierno?",new { @class = "control-label" })
                <br />
                @Html.Label("Sí:")
                @Html.RadioButtonFor(h => h.historial.producto_apoyo_gubernamental,1, new {@id="flexRadioDefault1", @class = "form-check-input", @checked = "checked"})
                
                @Html.Label("No:")
                @Html.RadioButtonFor(h => h.historial.producto_apoyo_gubernamental,0, new {@id="flexRadioDefault1", @class = "form-check-input"}) 
            </div>
            <div class="form-group">
                <label>Mencione el producto de apoyo solicitado</label>
                @Html.TextBoxFor(model => model.historial.producto_apoyo_gubernamental_descripcion, new { @class = "form-control" })
            </div>
            <div>
                @Html.Label("","¿Ha realizado alguna solicitud previa para obtener productos de apoyo con algún de Organizaciones No Gubernamentales?",new { @class = "control-label" })
                <br />
                @Html.Label("Sí:")
                @Html.RadioButtonFor(h => h.historial.producto_apoyo_no_gubernamental,1, new {@id="flexRadioDefault1", @class = "form-check-input", @checked = "checked"})
                
                @Html.Label("No:")
                @Html.RadioButtonFor(h => h.historial.producto_apoyo_no_gubernamental,0, new {@id="flexRadioDefault1", @class = "form-check-input"}) 
            </div>
            <div class="form-group">
                <label>Mencione el producto de apoyo solicitado</label>
                @Html.TextBoxFor(model => model.historial.producto_apoyo_no_gubernamental_descripcion, new { @class = "form-control" })
            </div>
            <div class="form-group row">
                <label asp-for="solicitud_archivo" class="col-sm-2 col-form-label">Archivos Adjuntos</label>
                <div class="mb-3">
                    <label asp-for="solicitud_archivo" for="formFileMultiple" class="form-label">Archivos adjuntos a la Solicitud</label>
                    <input asp-for="solicitud_archivo" class="form-control" type="file" id="formFileMultiple" multiple/>
                </div>
            </div>
            <div class="form-group">
                <input type="submit" value="Registrar" class="btn btn-primary" />
            </div> 
        </form>
    </div>
</div>

<div>
    <a asp-action="Consultar">Volver</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    }
